<% layout("/layouts/boilerplate.ejs") %>


    <body>
        <div class="row">
            <div class="col-8">
                <br>
                <h3>Create a new Listing</h3>
                <br>
                <form action="/listings" method="POST">
                    <div class="mb-3">
                        <label for="title" class="form-lable">Title</label>
                        <input class="form-control" type="text" name="listing[title]" placeholder="Add a catchy title">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-lable">Description</label>
                        <textarea class="form-control" name="listing[description]"></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-lable">Image Link</label>
                        <textarea name="listing[image]" placeholder="Enter image URL/link" type="text"
                            class="form-control"></textarea>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-lable">price</label>
                            <input type="number" class="form-control" name="listing[price]" placeholder="1200">
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-lable">Country</label>
                            <input type="text" name="listing[country]" class="form-control" placeholder="India">
                        </div>
                    </div>


                    <div class="mb-3">
                        <label for="location" class="form-lable">Location</label>
                        <input type="text" name="listing[location]" class="form-control" placeholder="Rohtas,Bihar">

                        <button class="btn btn-dark add-btn">Add</button>
                    </div>
                    <br><br>
                </form>

            </div>
        </div>
    </body>